/* ################################## GENERAL ################################## */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #0a3847;
    font-family: JETSans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
}

.d-none {
    display: none !important;
}

.no-hover {
    pointer-events: none !important;
}

.btns {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.pop-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.pop-up-container-language-country {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

.language-country-container {
    display: flex;
    position: absolute;
    right: 6%;
    top: 11%;
    background-color: white;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25);
    z-index: 9999;
    gap: 32px;
    padding-right: 32px;
}

.countries-container {
    padding: 16px;
    min-width: 320px;
}

.languages-container {
    padding: 16px;
    min-width: 140px;
}

.languages-container {
    border-left: 1px solid rgba(215, 215, 215, 0.75);
}

.languague-country-heading {
    font-size: 1.2rem;
    margin: 0 0 16px 0;
}

.countries,
.languages {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 400px;
    gap: 16px;
}

.country {
    display: flex;
    align-items: center;
    gap: 8px;
}

.country img {
    width: 16px;
    object-fit: contain;
}

.language-country-text {
    color: #476a75;
    cursor: pointer;
    font-size: 1rem;
}

.language-country-text:hover {
    color: #125fca;
}

.login-section {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.login-section-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #fb6100;
    color: white;
    padding: 16px;
}

.login-section-header-subcontainer {
    display: flex;
    align-items: center;
    gap: 16px;
}

.login-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: white;
}

.login-img-container img {
    width: 24px;
}

.login-section-heading {
    margin: 0;
    font-size: 1.5rem;
}

.login-section-text {
    text-decoration: underline;
    cursor: pointer;
}

.login-section-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 64px;
    padding: 16px;
}

.login-section-body button {
    width: 312px;
    height: 36px;
    font-size: 1rem;
    font-weight: bold;
}

.login-btn {
    border: 1px solid rgba(215, 215, 215, 0.5) !important;
    color: #125fca;
}

.login-btn:hover {
    border: 1px solid #125fca !important;
}

.create-acc-btn {
    background-color: #125fca;
    color: white;
}

.create-acc-btn:hover {
    background-color: #146eeb;
}

.allergenic {
    width: 50vw;
    background-color: white;
}

.pop-up-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 16px;
    display: flex;
    border-bottom: 1px solid rgba(215, 215, 215, 0.5);
}

.allergenic-body {
    padding: 0 16px 16px 16px;
}

.allergenic-text {
    font-size: 0.7rem;
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 12px;
}

.close-btn img {
    width: 12px;
    object-fit: contain;
}

.restaurant-info {
    width: 60vw;
    height: 80vh;
    overflow: auto;
    background-color: white;
}

.google-maps {
    width: 100%;
    height: 255px;
    border: none;
}

.restaurant-info-heading {
    display: flex;
    align-items: center;
    padding: 16px;
}

.restaurant-info-heading h3 {
    margin: 0;
}

.restaurant-info-heading img {
    width: 24px;
    margin-right: 16px;
    object-fit: contain;
}

.restaurant-info-content {
    display: flex;
    margin: 0 16px 0 16px;
    padding: 16px;
    color: #325864;
    background-color: #f8f5f2;
}

.restaurant-info-content table {
    width: 100%;
}

.restaurant-info-content tr {
    display: flex;
    justify-content: space-between;
}

.payment-method {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 40px;
    margin-right: 16px;
    border: 1px solid rgba(215, 215, 215, 0.5);
    background-color: white;
}

.payment-method img {
    width: 32px;
    object-fit: contain;
}

.bottom-spacing {
    margin-bottom: 16px;
}

.order-successful {
    width: 50vw;
    background-color: white;
}

.order-successful-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
}

.order-successful-body img {
    width: 56px;
    object-fit: contain;
}


/* ################################## HEADER ################################## */

.border-spacing-header {
    padding: 20px 16px 20px 16px;
}

header {
    background-color: #fb6100;
}

.header-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo-text {
    font-size: 1.5rem;
    color: white;
}

.header-text {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-bottom: solid white 2px;
    font-size: 1rem;
}

.header-menu-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.language-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    width: 30px;
    height: 30px;
}

.language-img {
    width: 20px;
    object-fit: cover;
}

.login-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.menu-icon {
    width: 18px;
}


/* ################################## MAIN ################################## */

main {
    display: flex;
}

.restaurant-section {
    width: calc(75vw - 18px);
}

.restaurant-banner {
    background-image: url(./img/sushi_background_2.jpg);
    width: 100%;
    height: 25vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.restaurant-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 128px;
    border: 1px solid silver;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.restaurant-title {
    font-family: 'Comforter', cursive;
    font-size: 32px;
    border-bottom: 1px solid;
}

.restaurant-logo img {
    width: 160px;
    object-fit: contain;
}

.restaurant-title-banner {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.restaurant-title-text {
    margin: 0;
    font-size: 1.5rem;
}

.restaurant-rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    margin-top: 4px;
}

.star-icon {
    width: 16px;
    object-fit: cover;
}

.rating-text {
    color: #fb6100;
    text-decoration: underline;
    margin-left: 4px;
    cursor: pointer;
}

.restaurant-title-btns {
    display: flex;
}

.title-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.title-btn img {
    width: 20px;
    object-fit: cover;
}

.info-btn {
    border: 1px solid rgba(215, 215, 215, 0.5);
}

.like-btn {
    border: 1px solid rgba(215, 215, 215, 0.5);
    border-left: 1px solid transparent;
}

.info-btn:hover {
    border: 1px solid #256cce;
}

.like-btn:hover {
    border: 1px solid #fb6100;
}

.border-spacing-restaurant-section {
    padding: 0 16px 0 16px;
}

.menu-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f5f2;
    width: calc(75vw - 16px);
    box-sizing: border-box;
}

.menu-categories {
    display: flex;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    cursor: pointer;
    height: 56px;
    scroll-behavior: smooth;
}

.menu-categories::-webkit-scrollbar {
    height: 8px;
    width: 2px;
    background: rgba(215, 215, 215, 0.5);
}

.menu-categories::-webkit-scrollbar-thumb {
    height: 8px;
    width: 2px;
    background: #fb6100;
    border-radius: 16px;
}

.selected-menu-category {
    background-color: #fb6100;
    color: white;
    padding: 6px 8px 7px 8px;
    border-radius: 16px;
}

.menu-category {
    margin-right: 16px;
}

.keyboard-icon {
    width: 32px;
    object-fit: cover;
    cursor: pointer;
}

.menu-items-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f8f5f2;
    height: 56px;
    margin: 16px 16px 0 16px;
}

.menu-item-icon {
    width: 16px;
    object-fit: contain;
}

#menu-items-container {
    position: relative;
}

.menu-items {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(215, 215, 215, 0.5);
    margin: 8px 16px 0 16px;
    position: relative;
    cursor: pointer;
}

.menu-items:hover {
    border: 1px solid #256cce;
}

.menu-item-header {
    display: flex;
    height: max-content;
    align-items: flex-end;
    padding-top: 16px !important;
}

.menu-items-border-spacing {
    padding: 0 42px 0 16px;
}

.menu-item-title {
    margin: 0;
}

.product-information {
    color: #1a65cc;
    font-size: 0.7rem;
    cursor: pointer;
    text-decoration: none;
    margin-left: 4px;
    margin-bottom: 2px;
}

.product-information:hover {
    text-decoration: underline;
}

.add-to-basket-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-left: 1px solid rgba(215, 215, 215, 0.5);
    border-bottom: 1px solid rgba(215, 215, 215, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.menu-item-body {
    margin-top: 8px;
}

.menu-item-description {
    color: #676767;
    font-size: 0.85rem;
}

.menu-item-price {
    color: #fb6100;
}

.menu-item-basket-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f5f2;
    height: 56px;
    gap: 16px;
}

.menu-item-add-to-basket-counter {
    display: flex;
}

.minus-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: white;
    border: 1px solid rgba(215, 215, 215, 0.5);
}

.plus-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: white;
    border: 1px solid rgba(215, 215, 215, 0.5);
}

.minus-btn:hover,
.plus-btn:hover {
    border: 1px solid #256cce;
}

.menu-item-icon-img {
    width: 14px;
    object-fit: cover;
}

.menu-item-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background-color: white;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid rgba(215, 215, 215, 0.5);
    border-bottom: 1px solid rgba(215, 215, 215, 0.5);
}

.add-to-basket-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 444px;
    height: 36px;
    background-color: #256cce;
    color: white;
}

.add-to-basket-btn:hover {
    background-color: #146eeb;
}

.impressum-container {
    margin-bottom: 16px;
}

.impressum-text {
    color: #9f9f9f;
}

.sticky-up-btn-container {
    position: sticky;
    bottom: 0;
}

.sticky-basket-btn-container {
    position: sticky;
    bottom: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.sticky-up-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    position: absolute;
    right: 16px;
    bottom: 16px;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: white;
    box-shadow: -1px 1px 5px 1px rgb(163 163 163);
}

.sticky-up-btn:hover {
    border: 1px solid #256cce;
}

.mobile-basket-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #256cce;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    width: 75%;
    height: 56px;
    margin-top: 16px;
}

.mobile-basket-btn:hover {
    background-color: #146eeb;
}


/* ################################## ASIDE ################################## */

aside {
    box-shadow: -2px 0px 5px -3px #616161;
    z-index: 0;
    width: calc(25vw - 1px);
}

.basket-section {
    position: sticky;
    top: 0;
    width: 100%;
}

.basket-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid rgba(215, 215, 215, 0.5);
}

.basket-title {
    font-size: 1.1rem;
    font-weight: 500;
}

.basket-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 16px;
}

.empty-basket-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 64px 16px 64px 16px;
}

.shopping-bag-icon {
    width: 40px;
}

.empty-basket-container h3 {
    margin: 8px;
}

.empty-basket-text {
    color: #9f9f9f;
}

.basket-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px;
    gap: 16px;
    border-bottom: 1px solid rgba(215, 215, 215, 0.5);
}

.basket-item-header {
    display: flex;
    justify-content: space-between;
}

.basket-item-name-and-amount {
    display: flex;
    gap: 16px;
}

.basket-item-body {
    padding-bottom: 16px;
}

.basket-item-body-subcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.annotation-container {
    display: flex;
    flex-direction: column;
}

.annotation-btn {
    font-weight: bold;
    color: rgb(21, 95, 202);
    text-decoration: underline;
    cursor: pointer;
}

.annotation-input {
    width: 100% !important;
    height: 72px;
    resize: none;
    box-sizing: border-box;
    border: 2px solid #256cce;
    color: #0b3948 !important;
    font-family: JETSans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.annotation-input:focus-visible {
    outline: #256cce;
}

.annotation-counter {
    display: flex;
    justify-content: flex-end;
}

.counter-number {
    color: #807783;
}

.annotation-control {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    margin-bottom: 16px;
    gap: 16px;
}

.annotation-control-btn {
    color: #125fca;
}

.annotation-control-btn:hover {
    text-decoration: underline;
}

.basket-item-counter-btns {
    display: flex;
    gap: 8px;
}

.annotation-output {
    font-style: italic;
    margin-bottom: 16px;
    word-break: break-all;
}

.basket-summary {
    padding: 0 16px 16px 16px;
}

.basket-summary table {
    width: 100%;
}

.basket-summary tr {
    display: flex;
    justify-content: space-between;
}

.min-order-value-not-reached {
    display: flex;
    justify-content: space-between;
    margin: 16px;
    padding: 16px;
    background-color: #ffecb3;
}

.min-order-value-text {
    font-size: 0.75rem;
}

.min-order-value {
    font-size: 0.75rem;
    white-space: nowrap;
}

.min-order-value-not-reached-sub-text {
    font-size: 0.75rem;
    padding: 16px;
}

.checkout-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.checkout-btn-enabled {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #256cce;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    width: 75%;
    height: 56px;
}

.checkout-btn-enabled:hover {
    background-color: #146eeb;
}

.checkout-btn-disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    color: #666666;
    font-weight: bold;
    font-size: 1rem;
    width: 75%;
    height: 56px;
    cursor: default;
}

.mobile-basket {
    position: fixed;
    width: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
}

.mobile-basket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 16px;
    height: 56px;
    display: flex;
    border-bottom: 1px solid rgba(215, 215, 215, 0.5);
}


/* ################################## FOOTER ################################## */

.border-spacing-footer {
    padding: 64px 128px 64px 128px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0a3847;
    gap: 16px;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    border-bottom: 1px solid white;
    padding-bottom: 16px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.copyright-text {
    color: white;
}


/* ##################################  @MEDIA ################################## */


/* Extra extra small devices (phones, 360px and down) */

@media only screen and (max-width: 360px) {
    .hide-mobile {
        display: none;
    }
    .login-section,
    .restaurant-info,
    .allergenic,
    .order-successful {
        width: 100vw;
        height: 100vh;
    }
    .google-maps {
        height: 200px;
    }
    .menu-icon {
        position: absolute;
        top: 28px;
        right: 28px;
    }
    .header-banner {
        flex-direction: column;
        gap: 16px;
    }
    .restaurant-section {
        width: 100%;
    }
    .restaurant-banner {
        height: 20vh;
    }
    .restaurant-title-banner {
        margin-top: 72px;
        margin-bottom: 16px;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .restaurant-title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu-banner {
        width: auto;
    }
    .border-spacing-footer {
        padding: 32px;
    }
}


/* Extra small devices (phones, 360px and up) */

@media only screen and (min-width: 360px) {
    .hide-mobile {
        display: none;
    }
    .login-section,
    .restaurant-info,
    .allergenic,
    .order-successful {
        width: 100vw;
        height: 100vh;
    }
    .menu-icon {
        position: absolute;
        top: 28px;
        right: 28px;
    }
    .header-banner {
        flex-direction: column;
        gap: 16px;
    }
    .restaurant-section {
        width: 100%;
    }
    .restaurant-banner {
        height: 20vh;
    }
    .restaurant-title-banner {
        margin-top: 72px;
        margin-bottom: 16px;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .restaurant-title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu-banner {
        width: auto;
    }
    .border-spacing-footer {
        padding: 32px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .hide-mobile {
        display: flex;
    }
    .sticky-basket-btn-container {
        display: none;
    }
    .login-section {
        width: 50vw;
        height: auto;
    }
    .restaurant-info {
        width: 60vw;
        height: 80vh;
    }
    .allergenic {
        width: 50vw;
        height: auto;
    }
    .order-successful {
        width: 50vw;
        height: auto;
    }
    .menu-icon {
        position: unset;
        top: unset;
        right: unset;
    }
    .header-banner {
        flex-direction: row;
        gap: 0;
    }
    .restaurant-section {
        width: calc(75vw - 18px);
    }
    .restaurant-banner {
        height: 25vh;
    }
    .basket-section {
        display: block;
    }
    .impressum-container {
        display: block;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .restaurant-title-banner {
        margin-top: 16px;
        margin-bottom: 16px;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }
    .restaurant-title-container {
        display: block;
    }
    .border-spacing-footer {
        padding: 64px 128px 64px 128px;
    }
}


/* Sticky Up-Btn */

@media only screen and (min-width: 320px) {
    .sticky-up-btn {
        right: 12px;
    }
}

@media only screen and (min-width: 370px) {
    .sticky-up-btn {
        right: 16px;
    }
}

@media only screen and (min-width: 400px) {
    .sticky-up-btn {
        right: 18px;
    }
}

@media only screen and (min-width: 430px) {
    .sticky-up-btn {
        right: 24px;
    }
}

@media only screen and (min-width: 470px) {
    .sticky-up-btn {
        right: 32px;
    }
}

@media only screen and (min-width: 540px) {
    .sticky-up-btn {
        right: 38px;
    }
}

@media only screen and (min-width: 580px) {
    .sticky-up-btn {
        right: 46px;
    }
}

@media only screen and (min-width: 660px) {
    .sticky-up-btn {
        right: 52px;
    }
}

@media only screen and (min-width: 700px) {
    .sticky-up-btn {
        right: 56px;
    }
}

@media only screen and (min-width: 740px) {
    .sticky-up-btn {
        right: 64px;
    }
}